body {
    background-image: url(../img/medicosOperanServicios.jpg);
    background-attachment: fixed;
    background-size: 100%;
}

/* Galeria */

.galeria {
    display: flex;
    width: 100%;
    padding: 10px 1px;
    overflow: hidden;
  }
  
.galeria img {
    display: block;
    width: 100%;
    height: 100%;
    padding: 2%;
    object-fit: cover;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    transition: trastransform 0.5s;
    overflow: hidden;
  }
  
.galeria img:hover {
    padding: 0;
    transform: rotate(10deg) scale(1.3);
    cursor: default;
  }

/* Card preoperatorio*/
.card {    
    margin: 5%;
    padding: 2%;
    border: 1px solid black;
    background-image: url(../img/estudiosPreoperatoriosExamenes.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed;  */
    background-size: 100% 100%;   
    object-fit: cover; 
    border-radius: 20px;
}

.title {
    text-align: center;
    color: #164785; 
    font-size: 40px; 
    font-style: italic; 
}

.card-body {
    text-align: justify;
}

.card-body .card-title {
    color: #164785; 
    font-size: 200%;
}

.card-body .card-text {
    color: black;
    font-size: 20px;
}

/* Card requisitos */
.card2 {
    margin: 5%;
    padding: 2%;
    border: 1px solid black;
    background-image: url(../img/requisitosExamenesjpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed;  */
    background-size: 100% 100%;    
    object-fit: contain;
    border-radius: 20px;
}


/* Info lugar éxamenes */
.titulo-info {
    color: #164785; 
    font-size: 200%;
    text-align: center;
}

.contenedor {
    display: flex;
    margin: 3%;
    align-items: center;
}

.imgExamen {
    width: 30%;
    height: 10%;
    border: 1px solid black;
    border-radius: 5%;    
}

.txt {
    margin-left: 70px;
}

.txt strong {
    font-size: 20px;
}

.txt .logo {
    width: 20%;
}

.txt .info {
    color: black;
}

